Repository AscEmu/AscEmu, pull requests merged in 2021-11, with the labels that each got.

#948 Instance cell loading for TBC dungeons/raids
  src/scripts/InstanceScripts/Tbc/Instance_Arcatraz.cpp
  src/scripts/InstanceScripts/Tbc/Instance_AuchenaiCrypts.cpp
  src/scripts/InstanceScripts/Tbc/Instance_BlackMorass.cpp
  src/scripts/InstanceScripts/Tbc/Instance_BloodFurnace.cpp
  src/scripts/InstanceScripts/Tbc/Instance_Botanica.cpp
  src/scripts/InstanceScripts/Tbc/Instance_HellfireRamparts.cpp
  src/scripts/InstanceScripts/Tbc/Instance_MagistersTerrace.cpp
  src/scripts/InstanceScripts/Tbc/Instance_ManaTombs.cpp
  src/scripts/InstanceScripts/Tbc/Instance_OldHillsbradFoothills.cpp
  src/scripts/InstanceScripts/Tbc/Instance_SethekkHalls.cpp
  src/scripts/InstanceScripts/Tbc/Instance_ShadowLabyrinth.cpp
  src/scripts/InstanceScripts/Tbc/Instance_TheMechanar.cpp
  src/scripts/InstanceScripts/Tbc/Instance_TheShatteredHalls.cpp
  src/scripts/InstanceScripts/Tbc/Instance_TheSlavePens.cpp
  src/scripts/InstanceScripts/Tbc/Instance_TheSteamvault.cpp
  src/scripts/InstanceScripts/Tbc/Instance_TheUnderbog.cpp
  src/scripts/InstanceScripts/Tbc/Raid_BlackTemple.cpp
  src/scripts/InstanceScripts/Tbc/Raid_CoT_BattleOfMountHyjal.cpp
  src/scripts/InstanceScripts/Tbc/Raid_Karazhan.cpp
  src/scripts/InstanceScripts/Tbc/Raid_SunwellPlateau.cpp
  src/scripts/InstanceScripts/Tbc/Raid_TheEye.cpp
  src/scripts/InstanceScripts/Tbc/Raid_ZulAman.cpp
Labels: Category: Dungeons/Raids, Patch 2.4.3 - TBC

#945 Wrath of lich king dungeons and raids cell loading related to #817
  src/scripts/InstanceScripts/Wotlk/Instance_AhnKahetTheOldKingdom.cpp
  src/scripts/InstanceScripts/Wotlk/Instance_AzjolNerub.cpp
  src/scripts/InstanceScripts/Wotlk/Instance_CullingOfStratholme.cpp
  src/scripts/InstanceScripts/Wotlk/Instance_DrakTharonKeep.cpp
  src/scripts/InstanceScripts/Wotlk/Instance_EyeOfEternity.cpp
  src/scripts/InstanceScripts/Wotlk/Instance_ForgeOfSouls.cpp
  src/scripts/InstanceScripts/Wotlk/Instance_Gundrak.cpp
  src/scripts/InstanceScripts/Wotlk/Instance_HallsOfLightning.cpp
  src/scripts/InstanceScripts/Wotlk/Instance_HallsOfReflection.cpp
  src/scripts/InstanceScripts/Wotlk/Instance_HallsOfStone.cpp
  src/scripts/InstanceScripts/Wotlk/Instance_Nexus.cpp
  src/scripts/InstanceScripts/Wotlk/Instance_PitOfSaron.cpp
  src/scripts/InstanceScripts/Wotlk/Instance_TheOculus.cpp
  src/scripts/InstanceScripts/Wotlk/Instance_TheVioletHold.cpp
  src/scripts/InstanceScripts/Wotlk/Instance_TrialOfTheChampion.cpp
  src/scripts/InstanceScripts/Wotlk/Instance_UtgardeKeep.cpp
  src/scripts/InstanceScripts/Wotlk/Instance_UtgardePinnacle.cpp
  src/scripts/InstanceScripts/Wotlk/Instance_UtgardePinnacle.h
  src/scripts/InstanceScripts/Wotlk/Instance_VaultOfArchavon.cpp
  src/scripts/InstanceScripts/Wotlk/Raid_IceCrownCitadel.cpp
  src/scripts/InstanceScripts/Wotlk/Raid_Naxxramas.cpp
  src/scripts/InstanceScripts/Wotlk/Raid_TheObsidianSanctum.cpp
  src/scripts/InstanceScripts/Wotlk/Raid_TrialOfTheCrusader.cpp
  src/scripts/InstanceScripts/Wotlk/Raid_Ulduar.cpp
Labels: Category: Dungeons/Raids, Patch 3.3.5 - WoTLK

#946 Add base cataclysm dungeon and raid files for development
  src/scripts/InstanceScripts/Cata/CMakeLists.txt
  src/scripts/InstanceScripts/Cata/Instance_Blackrock_Caverns.cpp
  src/scripts/InstanceScripts/Cata/Instance_Blackrock_Caverns.h
  src/scripts/InstanceScripts/Cata/Instance_End_Time.cpp
  src/scripts/InstanceScripts/Cata/Instance_End_Time.h
  src/scripts/InstanceScripts/Cata/Instance_Grim_Batol.cpp
  src/scripts/InstanceScripts/Cata/Instance_Grim_Batol.h
  src/scripts/InstanceScripts/Cata/Instance_Halls_Of_Origination.cpp
  src/scripts/InstanceScripts/Cata/Instance_Halls_Of_Origination.h
  src/scripts/InstanceScripts/Cata/Instance_Hour_Of_Twilight.cpp
  src/scripts/InstanceScripts/Cata/Instance_Hour_Of_Twilight.h
  src/scripts/InstanceScripts/Cata/Instance_Lost_City_Of_Tolvir.cpp
  src/scripts/InstanceScripts/Cata/Instance_Lost_City_Of_Tolvir.h
  src/scripts/InstanceScripts/Cata/Instance_The_Stonecore.cpp
  src/scripts/InstanceScripts/Cata/Instance_The_Stonecore.h
  src/scripts/InstanceScripts/Cata/Instance_Throne_Of_Tides.cpp
  src/scripts/InstanceScripts/Cata/Instance_Throne_Of_Tides.h
  src/scripts/InstanceScripts/Cata/Instance_Vortex_Pinnacle.cpp
  src/scripts/InstanceScripts/Cata/Instance_Vortex_Pinnacle.h
  src/scripts/InstanceScripts/Cata/Instance_Well_Of_Eternity.cpp
  src/scripts/InstanceScripts/Cata/Instance_Well_Of_Eternity.h
  src/scripts/InstanceScripts/Cata/Instance_Zul_Aman_Cata.cpp
  src/scripts/InstanceScripts/Cata/Instance_Zul_Aman_Cata.h
  src/scripts/InstanceScripts/Cata/Instance_Zul_Gurub_Cata.cpp
  src/scripts/InstanceScripts/Cata/Instance_Zul_Gurub_Cata.h
  src/scripts/InstanceScripts/Cata/Raid_Baradin_Hold.cpp
  src/scripts/InstanceScripts/Cata/Raid_Baradin_Hold.h
  src/scripts/InstanceScripts/Cata/Raid_Bastion_Of_Twilight.cpp
  src/scripts/InstanceScripts/Cata/Raid_Bastion_Of_Twilight.h
  src/scripts/InstanceScripts/Cata/Raid_Blackwing_Descent.cpp
  src/scripts/InstanceScripts/Cata/Raid_Blackwing_Descent.h
  src/scripts/InstanceScripts/Cata/Raid_DragonSoul.cpp
  src/scripts/InstanceScripts/Cata/Raid_DragonSoul.h
  src/scripts/InstanceScripts/Cata/Raid_Firelands.cpp
  src/scripts/InstanceScripts/Cata/Raid_Firelands.h
  src/scripts/InstanceScripts/Setup.cpp
  src/scripts/InstanceScripts/Setup.h
Labels: Category: Dungeons/Raids, Patch 4.3.4 - Cataclysm

#947 Rename Eye of Eternity and Vault of Archavon to raids instead of instances.
  src/scripts/InstanceScripts/Setup.cpp
  src/scripts/InstanceScripts/Wotlk/CMakeLists.txt
  src/scripts/InstanceScripts/Wotlk/Raid_EyeOfEternity.cpp
  src/scripts/InstanceScripts/Wotlk/Raid_EyeOfEternity.h
  src/scripts/InstanceScripts/Wotlk/Raid_VaultOfArchavon.cpp
  src/scripts/InstanceScripts/Wotlk/Raid_VaultOfArchavon.h
Labels: Category: Dungeons/Raids, Patch 3.3.5 - WoTLK

#951 Spell explicit target
  src/world/Chat/Commands/NpcCommands.cpp
  src/world/Spell/Spell.Legacy.h
  src/world/Spell/Spell.cpp
  src/world/Spell/SpellAuras.cpp
  src/world/Spell/SpellInfo.cpp
  src/world/Spell/SpellInfo.hpp
  src/world/Spell/SpellTarget.Legacy.cpp
Labels: Category: Spells/Skills

#952 Fix player health issue, absorbs in melee attack packet and couple warnings
  src/scripts/InstanceScripts/Tbc/Raid_GruulsLair.cpp
  src/scripts/InstanceScripts/Tbc/Raid_Magtheridons_Lair.cpp
  src/scripts/InstanceScripts/Wotlk/Instance_TheVioletHold.cpp
  src/world/Management/ArenaTeam.cpp
  src/world/Management/Item.Legacy.cpp
  src/world/Map/MapMgr.cpp
  src/world/Server/Packets/SmsgMessageChat.h
  src/world/Server/Script/CreatureAIScript.h
  src/world/Server/Script/ScriptMgr.h
  src/world/Units/Creatures/AIInterface.cpp
  src/world/Units/Players/Player.cpp
  src/world/Units/Unit.Legacy.cpp
  src/world/Units/UnitDefines.hpp
Labels: Category: Creatures, Category: Players, Category: Packets

#957 Fix incorrect or missing starting spells and skills
  sql/world/updates/20211108-00_playercreateinfo.sql
  src/scripts/SpellHandlers/LegacyFiles/MiscSpells.cpp
  src/world/Chat/Commands/CharacterCommands.cpp
  src/world/Management/AuctionHouse.cpp
  src/world/Management/Item.Legacy.cpp
  src/world/Management/Item.h
  src/world/Management/ItemInterface.cpp
  src/world/Management/Skill.hpp
  src/world/Movement/MovementManager.cpp
  src/world/Server/Master.cpp
  src/world/Spell/Spell.Legacy.h
  src/world/Spell/Spell.cpp
  src/world/Spell/SpellAuraEffects.cpp
  src/world/Spell/SpellEffects.Legacy.cpp
  src/world/Storage/MySQLDataStore.cpp
  src/world/Units/Players/Player.Legacy.cpp
  src/world/Units/Players/Player.cpp
  src/world/Units/Players/Player.h
  src/world/Units/Players/PlayerDefines.hpp
  src/world/Units/Unit.Legacy.cpp
Labels: Category: Spells/Skills, Category: Players

#960 Initialize profession points properly
  src/world/Server/Packets/Handlers/ItemHandler.cpp
  src/world/Server/Packets/Handlers/NPCHandler.cpp
  src/world/Server/Packets/Handlers/SkillHandler.cpp
  src/world/Spell/Spell.cpp
  src/world/Spell/SpellEffects.Legacy.cpp
  src/world/Spell/SpellInfo.cpp
  src/world/Units/Creatures/AIInterface.cpp
  src/world/Units/Creatures/Pet.cpp
  src/world/Units/Players/Player.Legacy.cpp
  src/world/Units/Players/Player.cpp
  src/world/Units/Players/Player.h
  src/world/Units/Unit.Legacy.cpp
Labels: Category: Spells/Skills, Category: Items, Category: Players

#961 Improve profession and class trainers
  src/world/Chat/Commands/NpcCommands.cpp
  src/world/Data/Flags.hpp
  src/world/Macros/CreatureMacros.hpp
  src/world/Management/Skill.hpp
  src/world/Objects/ObjectMgr.cpp
  src/world/Objects/ObjectMgr.h
  src/world/Server/Packets/Handlers/NPCHandler.cpp
  src/world/Server/World.cpp
  src/world/Server/WorldSession.h
  src/world/Spell/SpellMgr.cpp
  src/world/Spell/SpellMgr.hpp
  src/world/Units/Players/Player.Legacy.cpp
  src/world/Units/Players/Player.cpp
  src/world/Units/Players/Player.h
  src/world/Units/Unit.h
Labels: Category: Spells/Skills, Category: Players

#963 Couple spell fixes and fixing npc loot issue
  sql/world/updates/20211112-00_playercreateinfo_spell_learn.sql
  src/scripts/SpellHandlers/Scripts/Mage.cpp
  src/world/Objects/Object.cpp
  src/world/Server/Master.cpp
  src/world/Spell/SpellInfo.cpp
  src/world/Units/Unit.Legacy.cpp
  src/world/Units/Unit.cpp
Labels: Category: Spells/Skills, Category: Creatures

#965 Enable Achievements for Cata
  src/world/GameCata/Storage/DBCStructures.h
  src/world/Management/AchievementMgr.cpp
  src/world/Management/AchievementMgr.h
  src/world/Objects/ObjectMgr.cpp
  src/world/Objects/ObjectMgr.h
  src/world/Server/Packets/CmsgInspectAchievements.h
  src/world/Server/Packets/Handlers/QueryHandler.cpp
  src/world/Server/WorldSession.cpp
  src/world/Units/Players/Player.Legacy.cpp
Labels: Patch 4.3.4 - Cataclysm, Category: Achievements

#964 fix cmake for windows (code style)
  CMakeLists.txt
  dep/CMakeLists.txt
Labels: Core - Functions, Core - Codestyle

#967 Fix issue where player cannot attack mobs after being stunned
  src/world/Units/Unit.cpp
Labels: Category: Spells/Skills, Patch - All

#968 Update Windows default warning level to 4
  cmake/Compilers/msvc.cmake
  src/logonserver/Realm/RealmManager.cpp
  src/logonserver/Realm/RealmManager.hpp
  src/logonserver/Server/AccountMgr.cpp
  src/scripts/Battlegrounds/AlteracValley/AlteracValley.cpp
  src/scripts/Battlegrounds/EyeOfTheStorm/EyeOfTheStorm.cpp
  src/scripts/LuaEngine/GameobjectFunctions.cpp
  src/scripts/LuaEngine/ItemFunctions.h
  src/scripts/LuaEngine/UnitFunctions.h
  src/scripts/QuestScripts/Quest_Hellfire_Peninsula.cpp
  src/scripts/SpellHandlers/Scripts/Mage.cpp
  src/shared/Logging/Logger.cpp
  src/tools/mmaps_generator/TerrainBuilder.cpp
  src/tools/vmap_tools/vmap4_extractor/model.cpp
Labels: Platform: Windows, Core - Codestyle

#969 Transmog for Cata
  src/world/Macros/ItemMacros.hpp
  src/world/Management/Item.Legacy.cpp
  src/world/Management/Item.cpp
  src/world/Management/Item.h
  src/world/Management/ItemInterface.h
  src/world/Management/ItemPrototype.h
  src/world/Server/Opcodes.hpp
  src/world/Server/Packets/Handlers/CharacterHandler.cpp
  src/world/Server/Packets/Handlers/ItemHandler.cpp
  src/world/Server/WorldSession.cpp
  src/world/Server/WorldSession.h
  src/world/Units/Creatures/Creature.cpp
  src/world/Units/Creatures/Creature.h
  src/world/Units/Creatures/CreatureDefines.hpp
  src/world/Units/Players/Player.cpp
Labels: Core - Functions, Patch 4.3.4 - Cataclysm, Category: Items, Category: Players

#971 cata reforging and void storage
  sql/character/updates/20211123-00_character_void_storage.sql
  src/scripts/LuaEngine/ItemFunctions.h
  src/scripts/SpellHandlers/LegacyFiles/RogueSpells.cpp
  src/world/GameCata/Storage/DBCStores.cpp
  src/world/GameCata/Storage/DBCStores.h
  src/world/GameCata/Storage/DBCStructures.h
  src/world/Management/Item.Legacy.cpp
  src/world/Management/Item.cpp
  src/world/Management/Item.h
  src/world/Management/ItemInterface.h
  src/world/Management/ItemPrototype.h
  src/world/Objects/Object.cpp
  src/world/Objects/ObjectMgr.cpp
  src/world/Objects/ObjectMgr.h
  src/world/Server/Master.cpp
  src/world/Server/Packets/Handlers/CMakeLists.txt
  src/world/Server/Packets/Handlers/CharacterHandler.cpp
  src/world/Server/Packets/Handlers/ItemHandler.cpp
  src/world/Server/Packets/Handlers/VoidStorageHandler.cpp
  src/world/Server/WorldSession.cpp
  src/world/Server/WorldSession.h
  src/world/Spell/Spell.Legacy.cpp
  src/world/Spell/SpellAuras.Legacy.cpp
  src/world/Spell/SpellEffects.Legacy.cpp
  src/world/Units/Creatures/Creature.cpp
  src/world/Units/Creatures/Creature.h
  src/world/Units/Creatures/CreatureDefines.hpp
  src/world/Units/Players/Player.Legacy.cpp
  src/world/Units/Players/Player.cpp
  src/world/Units/Players/Player.h
  src/world/Units/Players/PlayerDefines.hpp
  src/world/Units/Unit.Legacy.cpp
  src/world/Units/Unit.cpp
Labels: Patch 4.3.4 - Cataclysm, Category: Items, Category: Players

#972 Fix threat issue after recent changes
  src/world/Units/Creatures/Creature.cpp
  src/world/Units/Creatures/Pet.cpp
  src/world/Units/Players/Player.cpp
  src/world/Units/Summons/Summon.cpp
  src/world/Units/Summons/TotemSummon.cpp
  src/world/Units/ThreatHandler.cpp
Labels: Category: Creatures, Patch - All, Category: Players

#974 Some spell fixes
  src/scripts/InstanceScripts/Tbc/Raid_SerpentshrineCavern.cpp
  src/scripts/SpellHandlers/LegacyFiles/DeathKnightSpells.cpp
  src/scripts/SpellHandlers/LegacyFiles/MiscSpells.cpp
  src/scripts/SpellHandlers/LegacyFiles/RogueSpells.cpp
  src/scripts/SpellHandlers/LegacyFiles/ShamanSpells.cpp
  src/scripts/SpellHandlers/LegacyFiles/WarlockSpells.cpp
  src/scripts/SpellHandlers/LegacyFiles/WarriorSpells.cpp
  src/scripts/SpellHandlers/Scripts/DeathKnight.cpp
  src/scripts/SpellHandlers/Scripts/Druid.cpp
  src/scripts/SpellHandlers/Scripts/Mage.cpp
  src/scripts/SpellHandlers/Scripts/Paladin.cpp
  src/scripts/SpellHandlers/Scripts/Priest.cpp
  src/scripts/SpellHandlers/Scripts/Shaman.cpp
  src/scripts/SpellHandlers/Scripts/Warlock.cpp
  src/scripts/SpellHandlers/Scripts/Warrior.cpp
  src/scripts/SpellHandlers/Setup.h
  src/world/Movement/PathGenerator.cpp
  src/world/Objects/Object.cpp
  src/world/Objects/Object.h
  src/world/Objects/Units/Players/Player.Legacy.cpp
  src/world/Objects/Units/Players/Player.cpp
  src/world/Objects/Units/Players/Player.h
  src/world/Objects/Units/Unit.Legacy.cpp
  src/world/Objects/Units/Unit.cpp
  src/world/Objects/Units/Unit.h
  src/world/Server/Packets/Handlers/MiscHandler.cpp
  src/world/Spell/Customization/HackFixes.cpp
  src/world/Spell/Customization/SpellCustomizations.cpp
  src/world/Spell/Spell.Legacy.cpp
  src/world/Spell/Spell.Legacy.h
  src/world/Spell/Spell.cpp
  src/world/Spell/SpellAuraEffects.cpp
  src/world/Spell/SpellAuras.Legacy.cpp
  src/world/Spell/SpellAuras.h
  src/world/Spell/SpellEffects.Legacy.cpp
  src/world/Spell/SpellInfo.cpp
  src/world/Spell/SpellInfo.hpp
  src/world/Spell/SpellMgr.hpp
  src/world/Spell/SpellProc.cpp
  src/world/Spell/SpellProc_ClassScripts.cpp
  src/world/Spell/SpellTarget.Legacy.cpp
Labels: Category: Spells/Skills
