Repository AscEmu/AscEmu, pull requests merged in 2021-12, with the labels that each got.

#975 Loot System Rewrite
  src/scripts/Battlegrounds/AlteracValley/AlteracValley.cpp
  src/scripts/LuaEngine/GameobjectFunctions.cpp
  src/scripts/LuaEngine/ItemFunctions.h
  src/scripts/LuaEngine/UnitFunctions.h
  src/world/Management/Group.cpp
  src/world/Management/Group.h
  src/world/Management/ItemPrototype.h
  src/world/Management/LootMgr.cpp
  src/world/Management/LootMgr.h
  src/world/Objects/GameObject.cpp
  src/world/Objects/GameObject.h
  src/world/Objects/Item.cpp
  src/world/Objects/Item.h
  src/world/Objects/Object.cpp
  src/world/Objects/Units/Creatures/Creature.cpp
  src/world/Objects/Units/Creatures/Creature.h
  src/world/Objects/Units/Players/Player.Legacy.cpp
  src/world/Objects/Units/Players/Player.cpp
  src/world/Objects/Units/Players/Player.h
  src/world/Objects/Units/Players/PlayerDefines.hpp
  src/world/Objects/Units/Unit.cpp
  src/world/Server/Packets/Handlers/LootHandler.cpp
  src/world/Server/Packets/Handlers/MiscHandler.cpp
  src/world/Server/Packets/Handlers/TradeHandler.cpp
  src/world/Server/Script/CreatureAIScript.cpp
  src/world/Server/Script/CreatureAIScript.h
  src/world/Server/World.cpp
  src/world/Server/WorldSession.cpp
  src/world/Spell/Spell.cpp
  src/world/Spell/SpellEffects.Legacy.cpp
Labels: Category: Loot

#976 Small channel and group fix
  src/world/Management/Channel.cpp
  src/world/Management/ChannelMgr.cpp
  src/world/Management/ChannelMgr.h
  src/world/Objects/Units/Players/Player.Legacy.cpp
  src/world/Objects/Units/Players/Player.cpp
  src/world/Objects/Units/Players/Player.h
  src/world/Server/Packets/Handlers/CharacterHandler.cpp
Labels: Category: Players

#978 Fix bunch of warnings in MIT files
  src/shared/Database/Field.hpp
  src/shared/Errors.h
  src/shared/Util.hpp
  src/world/Chat/ChatDefines.hpp
  src/world/Management/AuctionHouse.cpp
  src/world/Management/Guild/Guild.cpp
  src/world/Management/Guild/GuildBankTab.cpp
  src/world/Management/Guild/GuildMgr.cpp
  src/world/Management/Guild/GuildRankInfo.cpp
  src/world/Management/Guild/GuildRankInfo.hpp
  src/world/Management/LootMgr.cpp
  src/world/Management/LootMgr.h
  src/world/Management/QuestLogEntry.cpp
  src/world/Objects/Item.cpp
  src/world/Objects/MovementInfo.h
  src/world/Objects/Object.cpp
  src/world/Objects/Units/Creatures/AIInterface.cpp
  src/world/Objects/Units/Creatures/AIInterface.h
  src/world/Objects/Units/Creatures/Creature.cpp
  src/world/Objects/Units/Creatures/Creature.h
  src/world/Objects/Units/Creatures/CreatureDefines.hpp
  src/world/Objects/Units/Players/Player.Legacy.cpp
  src/world/Objects/Units/Players/Player.cpp
  src/world/Objects/Units/Unit.cpp
  src/world/Objects/Units/Unit.h
  src/world/Objects/Units/UnitDefines.hpp
  src/world/Server/EventMgr.h
  src/world/Server/Master.h
  src/world/Server/Packets/CmsgJoinChannel.h
  src/world/Server/Packets/CmsgSplitItem.h
  src/world/Server/Packets/CmsgUseItem.h
  src/world/Server/Packets/Handlers/CharacterHandler.cpp
  src/world/Server/Packets/Handlers/GuildHandler.cpp
  src/world/Server/Packets/MsgRaidReadyCheck.h
  src/world/Server/Packets/SmsgAuraUpdate.h
  src/world/Server/Packets/SmsgCharEnum.h
  src/world/Server/Script/CreatureAIScript.cpp
  src/world/Server/Script/CreatureAIScript.h
  src/world/Server/Script/ScriptEvent.hpp
  src/world/Server/WorldConfig.h
  src/world/Server/WorldSession.cpp
  src/world/Server/WorldSession.h
  src/world/Spell/Spell.Legacy.h
  src/world/Spell/Spell.cpp
  src/world/Spell/SpellAuraEffects.cpp
  src/world/Spell/SpellAuras.cpp
  src/world/Spell/SpellAuras.h
  src/world/Spell/SpellInfo.cpp
  src/world/Spell/SpellInfo.hpp
  src/world/Spell/SpellMgr.cpp
  src/world/Spell/SpellMgr.hpp
  src/world/Spell/SpellProc.cpp
  src/world/Storage/MySQLDataStore.cpp
Labels: Core - Codestyle/Refactoring
