Repository AscEmu/AscEmu, pull requests merged in 2022-05, with the labels that each got.

#1013 fix name display on battlefields is now correct
  src/scripts/Battlegrounds/ArathiBasin/ArathiBasin.cpp
  src/scripts/Battlegrounds/EyeOfTheStorm/EyeOfTheStorm.cpp
  src/scripts/InstanceScripts/Tbc/Raid_Karazhan.cpp
Labels: Category: Arena/Battleground

#1016 Refactor building object updates
  sql/world/updates/20220513-00_creature_properties.sql
  src/scripts/Battlegrounds/AlteracValley/AlteracValley.cpp
  src/scripts/Battlegrounds/ArathiBasin/ArathiBasin.cpp
  src/scripts/Battlegrounds/IsleOfConquest/IsleOfConquest.cpp
  src/scripts/Battlegrounds/WarsongGulch/WarsongGulch.cpp
  src/scripts/LuaEngine/UnitFunctions.h
  src/scripts/SpellHandlers/LegacyFiles/QIspells.cpp
  src/world/Chat/Commands/DebugCommands.cpp
  src/world/Chat/Commands/GameObjectCommands.cpp
  src/world/Chat/Commands/NpcCommands.cpp
  src/world/Chat/Commands/QuestCommands.cpp
  src/world/Data/WoWObject.hpp
  src/world/GameClassic/Storage/DBCStructures.h
  src/world/Management/Group.cpp
  src/world/Management/ItemInterface.cpp
  src/world/Management/ObjectMgr.cpp
  src/world/Management/ObjectMgr.h
  src/world/Management/QuestLogEntry.cpp
  src/world/Management/QuestMgr.cpp
  src/world/Management/QuestMgr.h
  src/world/Map/Maps/MapScriptInterface.cpp
  src/world/Map/Maps/WorldMap.cpp
  src/world/Objects/GameObject.cpp
  src/world/Objects/GameObject.h
  src/world/Objects/Object.cpp
  src/world/Objects/Object.h
  src/world/Objects/ObjectDefines.h
  src/world/Objects/Transporter.cpp
  src/world/Objects/Transporter.h
  src/world/Objects/Units/Creatures/AIInterface.cpp
  src/world/Objects/Units/Creatures/Creature.cpp
  src/world/Objects/Units/Creatures/CreatureDefines.hpp
  src/world/Objects/Units/Players/Player.Legacy.cpp
  src/world/Objects/Units/Players/Player.cpp
  src/world/Objects/Units/Players/Player.h
  src/world/Objects/Units/Unit.Legacy.cpp
  src/world/Objects/Units/Unit.cpp
  src/world/Objects/Units/Unit.h
  src/world/Server/Master.cpp
  src/world/Server/Packets/Handlers/LootHandler.cpp
  src/world/Server/Packets/Handlers/QuestHandler.cpp
  src/world/Server/World.cpp
  src/world/Spell/SpellAuras.Legacy.cpp
  src/world/Spell/SpellEffects.Legacy.cpp
  src/world/Storage/MySQLDataStore.cpp
Labels: Category: Quests/Gossips, Category: Gameobjects, Category: Creatures, Patch - All, Category: Players, Category: Packets

#1023 a rogues deal quest
  sql/world/updates/20220521-00_npc_script_text.sql
  src/scripts/QuestScripts/Quest_TirisfalGlades.cpp
  src/world/Management/QuestMgr.cpp
  src/world/Objects/Units/Players/Player.cpp
  src/world/Server/Master.cpp
  src/world/Server/Script/CreatureAIScript.h
Labels: Category: Quests/Gossips

#1026 delete double file from "logger..."
  src/shared/CMakeLists.txt
  src/shared/Log.hpp
  src/shared/Logging/CMakeLists.txt
  src/shared/Logging/ConsoleDefines.hpp
  src/shared/Logging/Logger.cpp
  src/shared/Logging/LoggerDefines.hpp
  src/shared/README.md
Labels: Core - Codestyle/Refactoring

#1027 disabled movement of npc spirit healer
  sql/world/updates/20220522-00_creature_spawns.sql
  src/world/Server/Master.cpp
Labels: Category: Creatures
