Repository AscEmu/AscEmu, pull requests merged in 2022-11, with the labels that each got.

#1064 Fix Creature FindTarget Problems
  src/scripts/EventScripts/Event_L70ETC_Concert.cpp
  src/scripts/InstanceScripts/Classic/Deadmines/Instance_Deadmines.cpp
  src/scripts/InstanceScripts/Classic/OnyxiasLair/Raid_OnyxiasLair.cpp
  src/scripts/InstanceScripts/Classic/WailingCaverns/Instance_WailingCaverns.cpp
  src/scripts/InstanceScripts/Tbc/Auchindoun/SethekkHalls/Instance_SethekkHalls.cpp
  src/scripts/InstanceScripts/Tbc/BlackTemple/Raid_BlackTemple.cpp
  src/scripts/InstanceScripts/Tbc/CoilfangReservoir/SerpentShrine/Raid_SerpentshrineCavern.cpp
  src/scripts/InstanceScripts/Tbc/CoilfangReservoir/SteamVault/Instance_TheSteamvault.cpp
  src/scripts/InstanceScripts/Tbc/Karazhan/Raid_Karazhan.cpp
  src/scripts/InstanceScripts/Wotlk/CavernsOfTime/Instance_CullingOfStratholme.cpp
  src/scripts/InstanceScripts/Wotlk/FrozenHalls/PitOfSaron/Instance_PitOfSaron.cpp
  src/scripts/InstanceScripts/Wotlk/IcecrownCitadel/GunshipBattle.cpp
  src/scripts/InstanceScripts/Wotlk/IcecrownCitadel/LadyDeathwhisper.cpp
  src/scripts/InstanceScripts/Wotlk/IcecrownCitadel/LordMarrowgar.cpp
  src/scripts/InstanceScripts/Wotlk/IcecrownCitadel/Saurfang.cpp
  src/scripts/InstanceScripts/Wotlk/Naxxramas/Raid_Naxxramas.h
  src/scripts/InstanceScripts/Wotlk/VioletHold/Instance_TheVioletHold.cpp
  src/scripts/LuaEngine/FunctionTables.h
  src/scripts/LuaEngine/UnitFunctions.h
  src/scripts/SpellHandlers/LegacyFiles/QIspells.cpp
  src/scripts/SpellHandlers/LegacyFiles/WarlockSpells.cpp
  src/shared/Util.hpp
  src/world/Chat/Commands/DebugCommands.cpp
  src/world/Chat/Commands/NpcCommands.cpp
  src/world/GameCata/Storage/DBCStructures.h
  src/world/GameClassic/Storage/DBCStructures.h
  src/world/GameMop/Storage/DBCStructures.h
  src/world/GameTBC/Storage/DBCStructures.h
  src/world/GameWotLK/Storage/DBCStructures.h
  src/world/Macros/AIInterfaceMacros.hpp
  src/world/Objects/Object.cpp
  src/world/Objects/Object.h
  src/world/Objects/Units/CombatHandler.cpp
  src/world/Objects/Units/CombatHandler.hpp
  src/world/Objects/Units/Creatures/AIInterface.cpp
  src/world/Objects/Units/Creatures/AIInterface.h
  src/world/Objects/Units/Creatures/Creature.cpp
  src/world/Objects/Units/Creatures/Pet.cpp
  src/world/Objects/Units/Creatures/Pet.h
  src/world/Objects/Units/Creatures/Summons/Summon.cpp
  src/world/Objects/Units/Creatures/Summons/Summon.h
  src/world/Objects/Units/Creatures/Summons/SummonHandler.cpp
  src/world/Objects/Units/ThreatHandler.cpp
  src/world/Objects/Units/Unit.cpp
  src/world/Objects/Units/Unit.hpp
  src/world/Server/Packets/Handlers/PetHandler.cpp
  src/world/Server/Packets/Handlers/SpellHandler.cpp
  src/world/Server/Script/CreatureAIScript.cpp
  src/world/Server/Script/CreatureAIScript.h
  src/world/Spell/Spell.cpp
  src/world/Spell/SpellAuras.Legacy.cpp
  src/world/Spell/SpellEffects.Legacy.cpp
Labels: Category: Creatures

#1061 Support for OpenSSL 3.0
  cmake/Modules/FindOpenSSL.cmake
  dep/openssl/CMakeLists.txt
Labels: CMake

#1066 Fix TBC vmaps extractor
  .gitignore
  src/logonserver/CMakeLists.txt
  src/logonserver/Console/LogonConsole.cpp
  src/logonserver/LogonConf.hpp.in
  src/logonserver/Server/LogonConfig.cpp
  src/logonserver/Server/Master.cpp
  src/shared/AEVersion.hpp.in
  src/shared/CMakeLists.txt
  src/shared/README.md
  src/tools/ToolsCataMop/map_extractor/CMakeLists.txt
  src/tools/ToolsCataMop/map_extractor/System.cpp
  src/tools/ToolsCataMop/vmap_tools/vmap4_extractor/CMakeLists.txt
  src/tools/ToolsCataMop/vmap_tools/vmap4_extractor/vmapexport.cpp
  src/tools/map_extractor/CMakeLists.txt
  src/tools/map_extractor/System.cpp
  src/tools/vmap_tools/vmap4_extractor/CMakeLists.txt
  src/tools/vmap_tools/vmap4_extractor/modelheaders.h
  src/tools/vmap_tools/vmap4_extractor/vmapexport.cpp
  src/world/WorldConf.h.in
Labels: Core - Extractors, Patch 2.4.3 - TBC, Patch 1.12.1 - Classic, Core - Codestyle/Refactoring

#1070 Fix Combat Issue And Crash on Waypoints
  src/world/Chat/Commands/NpcCommands.cpp
  src/world/Chat/Commands/WaypointCommands.cpp
  src/world/Movement/WaypointManager.cpp
  src/world/Movement/WaypointManager.h
  src/world/Objects/Units/Creatures/AIInterface.cpp
  src/world/Objects/Units/Creatures/AIInterface.h
Labels: Category: Creatures
