Repository AscEmu/AscEmu, pull requests merged in 2022-01, with the labels that each got.

#980 Trainers should check all required spells
  src/world/Management/ObjectMgr.cpp
  src/world/Server/Packets/Handlers/NPCHandler.cpp
  src/world/Server/World.cpp
Labels: Category: Spells/Skills

#982 Icc Script Cleanup and Added Saurfang Battle
  src/scripts/InstanceScripts/Tbc/Raid_GruulsLair.cpp
  src/scripts/InstanceScripts/Wotlk/Raid_IceCrownCitadel.cpp
  src/scripts/InstanceScripts/Wotlk/Raid_IceCrownCitadel.h
  src/scripts/SpellHandlers/LegacyFiles/DeathKnightSpells.cpp
  src/scripts/SpellHandlers/LegacyFiles/DruidSpells.cpp
  src/scripts/SpellHandlers/LegacyFiles/ItemSpells_1.cpp
  src/scripts/SpellHandlers/LegacyFiles/MiscSpells.cpp
  src/scripts/SpellHandlers/Scripts/DeathKnight.cpp
  src/scripts/SpellHandlers/Scripts/Mage.cpp
  src/scripts/SpellHandlers/Scripts/Misc.cpp
  src/scripts/SpellHandlers/Scripts/Priest.cpp
  src/shared/Util.cpp
  src/shared/Util.hpp
  src/world/Chat/ChatHandler.cpp
  src/world/Chat/Commands/CharacterCommands.cpp
  src/world/Management/AchievementMgr.cpp
  src/world/Management/AchievementMgr.h
  src/world/Objects/Units/Creatures/AIInterface.cpp
  src/world/Objects/Units/Creatures/AIInterface.h
  src/world/Objects/Units/Creatures/Creature.cpp
  src/world/Objects/Units/Creatures/Creature.h
  src/world/Objects/Units/Creatures/CreatureDefines.hpp
  src/world/Objects/Units/Players/Player.Legacy.cpp
  src/world/Objects/Units/Unit.cpp
  src/world/Objects/Units/Unit.h
  src/world/Server/Script/AchievementScript.cpp
  src/world/Server/Script/AchievementScript.hpp
  src/world/Server/Script/CMakeLists.txt
  src/world/Server/Script/CreatureAIScript.cpp
  src/world/Server/Script/CreatureAIScript.h
  src/world/Server/Script/ScriptMgr.cpp
  src/world/Server/Script/ScriptMgr.h
  src/world/Spell/Customization/HackFixes.cpp
  src/world/Spell/Spell.Legacy.cpp
  src/world/Spell/Spell.Legacy.h
  src/world/Spell/Spell.cpp
  src/world/Spell/SpellAuras.cpp
  src/world/Spell/SpellAuras.h
  src/world/Spell/SpellEffects.Legacy.cpp
  src/world/Spell/SpellInfo.cpp
  src/world/Spell/SpellMgr.hpp
  src/world/Spell/SpellScript.cpp
  src/world/Spell/SpellScript.hpp
  src/world/Spell/SpellTarget.Legacy.cpp
Labels: Category: Dungeons/Raids, Core - Scripts

#984 Heilroom Scaling Fix
  src/world/GameWotLK/Storage/DBCStructures.h
  src/world/Objects/Item.Legacy.cpp
  src/world/Objects/Item.h
  src/world/Objects/Units/Players/Player.Legacy.cpp
  src/world/Objects/Units/Players/Player.cpp
  src/world/Objects/Units/Players/Player.h
Labels: Patch 3.3.5 - WoTLK, Category: Items

#983 Rewrite player skill handling
  sql/world/updates/20220113-00_playercreateinfo_skills.sql
  sql/world/updates/20220113-01_playercreateinfo_spell_learn.sql
  src/scripts/GossipScripts/Gossip_Trainer.cpp
  src/scripts/LuaEngine/GlobalFunctions.h
  src/scripts/LuaEngine/UnitFunctions.h
  src/scripts/MiscScripts/RandomScripts.cpp
  src/scripts/SpellHandlers/LegacyFiles/ItemSpells_1.cpp
  src/world/Chat/ChatHandler.cpp
  src/world/Chat/Commands/CharacterCommands.cpp
  src/world/Data/WoWPlayer.hpp
  src/world/Management/AchievementMgr.cpp
  src/world/Management/AuctionHouse.cpp
  src/world/Management/Group.cpp
  src/world/Management/ItemInterface.cpp
  src/world/Management/ItemPrototype.h
  src/world/Management/LFG/LFGMgr.cpp
  src/world/Management/LootMgr.cpp
  src/world/Management/LootMgr.h
  src/world/Management/ObjectMgr.cpp
  src/world/Management/ObjectMgr.h
  src/world/Management/Quest.h
  src/world/Management/QuestMgr.cpp
  src/world/Management/Skill.hpp
  src/world/Objects/GameObject.cpp
  src/world/Objects/Item.Legacy.cpp
  src/world/Objects/Item.h
  src/world/Objects/Transporter.cpp
  src/world/Objects/Units/Creatures/Creature.cpp
  src/world/Objects/Units/Creatures/Creature.h
  src/world/Objects/Units/Players/Player.Legacy.cpp
  src/world/Objects/Units/Players/Player.cpp
  src/world/Objects/Units/Players/Player.h
  src/world/Objects/Units/Players/PlayerDefines.hpp
  src/world/Objects/Units/Unit.Legacy.cpp
  src/world/Objects/Units/Unit.cpp
  src/world/Server/Master.cpp
  src/world/Server/Packets/Handlers/CharacterHandler.cpp
  src/world/Server/Packets/Handlers/ChatHandler.cpp
  src/world/Server/Packets/Handlers/ItemHandler.cpp
  src/world/Server/Packets/Handlers/MiscHandler.cpp
  src/world/Server/Packets/Handlers/NPCHandler.cpp
  src/world/Server/Packets/Handlers/SkillHandler.cpp
  src/world/Server/Script/CreatureAIScript.cpp
  src/world/Server/World.cpp
  src/world/Spell/Spell.Legacy.cpp
  src/world/Spell/Spell.Legacy.h
  src/world/Spell/Spell.cpp
  src/world/Spell/SpellAuraEffects.cpp
  src/world/Spell/SpellAuras.Legacy.cpp
  src/world/Spell/SpellAuras.cpp
  src/world/Spell/SpellAuras.h
  src/world/Spell/SpellEffects.Legacy.cpp
  src/world/Spell/SpellMgr.cpp
  src/world/Spell/SpellMgr.hpp
  src/world/Storage/MySQLDataStore.cpp
Labels: Category: Spells/Skills, Patch - All, Category: Players

#985 Small channel fix
  src/world/Chat/ChannelMgr.cpp
  src/world/Server/Packets/SmsgChannelNotify.h
Labels: Category: Chat

#986 Bind point and achievement crash fix
  sql/character/updates/20220116-00_characters.sql
  src/scripts/LuaEngine/UnitFunctions.h
  src/scripts/SpellHandlers/LegacyFiles/MiscSpells.cpp
  src/world/Management/AchievementMgr.cpp
  src/world/Management/AchievementMgr.h
  src/world/Objects/Units/Players/Player.Legacy.cpp
  src/world/Objects/Units/Players/Player.cpp
  src/world/Objects/Units/Players/Player.h
  src/world/Server/Master.cpp
  src/world/Server/Packets/Handlers/NPCHandler.cpp
  src/world/Spell/Spell.Legacy.cpp
  src/world/Spell/Spell.Legacy.h
  src/world/Spell/SpellEffects.Legacy.cpp
Labels: Category: Achievements, Category: Players

#988 Rewrite unit combat
  src/scripts/LuaEngine/FunctionTables.h
  src/scripts/LuaEngine/UnitFunctions.h
  src/scripts/SpellHandlers/LegacyFiles/QIspells.cpp
  src/scripts/SpellHandlers/LegacyFiles/RogueSpells.cpp
  src/world/Chat/Commands/NpcCommands.cpp
  src/world/Macros/AIInterfaceMacros.hpp
  src/world/Management/HonorHandler.cpp
  src/world/Management/ItemInterface.cpp
  src/world/Management/LootMgr.h
  src/world/Map/MapCell.cpp
  src/world/Map/MapCell.h
  src/world/Map/MapMgr.cpp
  src/world/Map/MapMgr.h
  src/world/Objects/Object.cpp
  src/world/Objects/Units/CMakeLists.txt
  src/world/Objects/Units/CombatHandler.cpp
  src/world/Objects/Units/CombatHandler.hpp
  src/world/Objects/Units/Creatures/AIInterface.cpp
  src/world/Objects/Units/Creatures/AIInterface.h
  src/world/Objects/Units/Creatures/Creature.cpp
  src/world/Objects/Units/Creatures/Pet.cpp
  src/world/Objects/Units/Players/Player.Legacy.cpp
  src/world/Objects/Units/Players/Player.cpp
  src/world/Objects/Units/ThreatHandler.cpp
  src/world/Objects/Units/ThreatHandler.h
  src/world/Objects/Units/Unit.Legacy.cpp
  src/world/Objects/Units/Unit.cpp
  src/world/Objects/Units/Unit.h
  src/world/Objects/Units/UnitDefines.hpp
  src/world/Server/EventMgr.h
  src/world/Server/Packets/Handlers/ItemHandler.cpp
  src/world/Server/Packets/Handlers/MiscHandler.cpp
  src/world/Server/Packets/Handlers/PetHandler.cpp
  src/world/Server/Script/CreatureAIScript.cpp
  src/world/Spell/Spell.Legacy.cpp
  src/world/Spell/Spell.Legacy.h
  src/world/Spell/Spell.cpp
  src/world/Spell/SpellAuras.Legacy.cpp
  src/world/Spell/SpellAuras.cpp
  src/world/Spell/SpellEffects.Legacy.cpp
Labels: Core - Map/Area Management, Category: Creatures, Patch - All, Category: Players

#993 Passive auras with effect 262 must be sent to client
  src/world/Objects/Units/Unit.cpp
  src/world/Objects/Units/Unit.h
  src/world/Spell/SpellAuras.Legacy.cpp
  src/world/Spell/SpellAuras.h
  src/world/Spell/SpellDefines.hpp
Labels: Category: Spells/Skills
