Repository AscEmu/AscEmu, pull requests merged in 2025-01, with the labels that each got.

#1212 cleaning CML.txt & updated README.md
  CMakeLists.txt
  README.md
  cmake/CheckSystem.cmake
  src/logonserver/CMakeLists.txt
  src/tools/map_extractor/CMakeLists.txt
  src/world/Macros/PetMacros.hpp
Labels: CMake

#1216 Fix Clang build
  cmake/Compilers/clang.cmake
  cmake/Compilers/gcc.cmake
  cmake/Modules/FindMySQL.cmake
  src/shared/Database/DatabaseUpdater.cpp
  src/world/Chat/Commands/Account/AccountCommandBan.cpp
  src/world/Chat/Commands/Account/AccountCommandGetId.cpp
  src/world/Chat/Commands/Account/AccountCommandMute.cpp
  src/world/Chat/Commands/Account/AccountCommandUnban.cpp
  src/world/Chat/Commands/Account/AccountCommandUnmute.cpp
  src/world/Chat/Commands/Achievement/AchievementCommandComplete.cpp
Labels: CMake

#1215 CMake: Use source_groups to represent the source tree
  cmake/CheckSystem.cmake
  cmake/Modules/AEGroupSources.cmake
  cmake/Options.cmake
  dep/bzip2/CMakeLists.txt
  dep/dbcfile/CMakeLists.txt
  dep/g3dlite/CMakeLists.txt
  dep/libmpq/CMakeLists.txt
  dep/loadlib/CMakeLists.txt
  dep/recastnavigation/Detour/CMakeLists.txt
  dep/recastnavigation/Recast/CMakeLists.txt
  dep/zlib/CMakeLists.txt
  src/collision/CMakeLists.txt
  src/logonserver/CMakeLists.txt
  src/scripts/Battlegrounds/CMakeLists.txt
  src/scripts/EventScripts/CMakeLists.txt
  src/scripts/GossipScripts/CMakeLists.txt
  src/scripts/InstanceScripts/CMakeLists.txt
  src/scripts/LuaEngine/CMakeLists.txt
  src/scripts/MiscScripts/CMakeLists.txt
  src/scripts/QuestScripts/CMakeLists.txt
  src/scripts/SpellHandlers/CMakeLists.txt
  src/scripts/SpellHandlers/LegacyFiles/CMakeLists.txt
  src/scripts/SpellHandlers/Scripts/CMakeLists.txt
  src/shared/CMakeLists.txt
  src/tools/ToolsCataMop/map_extractor/CMakeLists.txt
  src/tools/ToolsCataMop/mmaps_generator/CMakeLists.txt
  src/tools/ToolsCataMop/vmap_tools/vmap4_assembler/CMakeLists.txt
  src/tools/ToolsCataMop/vmap_tools/vmap4_extractor/CMakeLists.txt
  src/tools/extras/creature_data/CMakeLists.txt
  src/tools/extras/spell_data/CMakeLists.txt
  src/tools/extras/spellfailure_data/CMakeLists.txt
  src/tools/extras/taxi_path_data/CMakeLists.txt
  src/tools/map_extractor/CMakeLists.txt
  src/tools/mmaps_generator/CMakeLists.txt
  src/tools/vmap_tools/vmap4_assembler/CMakeLists.txt
  src/tools/vmap_tools/vmap4_extractor/CMakeLists.txt
  src/world/CMakeLists.txt
Labels: CMake

#1217 Fix database updater
  sql/world/updates/20230727-00_trialofcrusader.sql
  sql/world/updates/20231123-00_creature_properties.sql
  sql/world/updates/20240309-00_spell_ranks.sql
  sql/world/updates/20240511-00_creature_properties.sql
  sql/world/updates/20240511-01_creature_properties.sql
  sql/world/updates/20240904-00_misc.sql
  sql/world/updates/20250112-00_world_db_version.sql
  src/shared/Database/DatabaseUpdater.cpp
  src/world/Server/Master.cpp
Labels: Core - Functions

#1218 Fix worldserver register timeout
  src/logonserver/LogonCommServer/LogonCommServer.cpp
  src/logonserver/LogonCommServer/LogonCommServer.h
  src/world/Server/LogonCommClient/LogonCommClient.cpp
  src/world/Server/LogonCommClient/LogonCommClient.h
Labels: Platform: Linux
